/*==================================================
 ONE TINY HEARTBEAT
 ANIMATIONS.CSS
==================================================*/

/* Fade In */

@keyframes fadeIn{

    from{
        opacity:0;
    }

    to{
        opacity:1;
    }

}

/* Float */

@keyframes float{

    0%,100%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-6px);
    }

}

/* Button */

.button-visible{

    animation:fadeIn 1s forwards,
              float 4s ease-in-out infinite;

}

/* Title */

.title-visible{

    animation:fadeIn 2s forwards;

}

/* Subtitle */

.subtitle-visible{

    animation:fadeIn 2s forwards;

}
